<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4ab0fdc2-a6f8-416f-9b8e-9bce441c493a" name="Swagger Petstore" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="C:\refactorsample\old.yaml" basePath="/v2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:description>old</con:description>
  <con:settings>
    <con:setting id="4ab0fdc2-a6f8-416f-9b8e-9bce441c493afileName">Swagger-Petstore</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="file:/C:/refactorsample/old.yaml">
    <con:part>
      <con:url>file:/C:/refactorsample/old.yaml</con:url>
      <con:content>swagger: "2.0"
info:
  description: "old"
  version: "1.0.0"
  title: "Swagger Petstore"
host: "petstore.swagger.io"
basePath: "/v2"
tags:
- name: "pet"
  description: "Everything about your Pets"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
- name: "store"
  description: "Access to Petstore orders"
- name: "user"
  description: "Operations about user"
  externalDocs:
    description: "Find out more about our store"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /attributegroup/:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: header
        name: "x-collection-id"
        type: string
      - in: query
        name: "sort"
        type: string
      - in: query
        name: "filters"
        type: string
      - in: query
        name: "page"
        type: string
      - in: query
        name: "size"
        type: string
      - in: query
        name: "locale"
        type: string
      responses:
        200:
          description: "OK"        


definitions:
  Pet:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        example: "doggie"
      photoUrls:
        type: "array"
        xml:
          name: "photoUrl"
          wrapped: true
        items:
          type: "string"
      status:
        type: "string"
        description: "pet status in the store"
        enum:
        - "available"
        - "pending"
        - "sold"
    xml:
      name: "Pet"

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"</con:content>
      <con:type>https://swagger.io/swagger2/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://petstore.swagger.io</con:endpoint>
    <con:endpoint>https://petstore.swagger.io</con:endpoint>
  </con:endpoints>
</con:interface>
