<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="60e6a7f0-d945-416b-b5cb-1147395c808b" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="60e6a7f0-d945-416b-b5cb-1147395c808bfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
